<!-- <div class="container mt-5 sizing">


    <form>

        <div class="form-group">
            <label for="">Enter New Password</label>
            <input type="text" class="form-control" [(ngModel)]="user.password" id="password" name="password" >
            </div>
            <br>

                       <button class="btn btn-primary" (click)="update()" >UpdatePassword</button> 


        
    </form>
    <button class="btn btn-primary"  [routerLink]="['/userdashboard']" >Back</button> 
    <button class="btn btn-primary"  [routerLink]="['/index']" >Home</button> 
</div> -->


<div class="maindiv">

<div class="container mt-5 sizing">


    <form>

        <div class="form-group">
            <label for="">Enter Old Password</label>
            <input type="text" class="form-control" [(ngModel)]="password2" id="password2" name="password2" >
            </div>
            <br>
        </form>
    <button class="btn btn-primary" (click)="checkPassword()" >Confirm old Password</button> 
    <br>
    <!-- {{message}} -->
    <br>
    <div *ngIf="status == true">
    <form >
        <div class="form-group">
            <label for="">Enter New Password</label>
            <input type="text" class="form-control" [(ngModel)]="password3" id="password3" name="password3" >
            </div>
            <br>

            <div class="form-group">
                <label for="">Re-Enter New Password</label>
                <input type="text" class="form-control"[(ngModel)]="password1" id="password1" name="password1" >
                </div>
                <br>
                <!-- {{message1}} -->

    <button class="btn btn-primary" (click)="update()" >UpdatePassword</button> 


        
    </form>
 </div>
 <br>
    <button class="btn btn-primary"  [routerLink]="['/userdashboard']" >Back</button> 
    <!-- <button class="btn btn-primary"  [routerLink]="['/index']" >Home</button>  -->
</div>
</div>