
<div class="maindiv">
<div class="container mt-5 sizing">


    <form>
        <div class="form-group">
            <label for="">Aadhar Number</label>
            <input type="text" class="form-control" id="aid" name="aid" [(ngModel)]="user.aadhar" >
            </div>
<br>

        <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.userName" >
            </div>
<br>
<div class="form-group">
    <label for="">Email</label>
    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" >
    </div>
<br>
<div class="form-group">
    <label for="">Password</label>
    <input type="text" class="form-control" id="password" name="password" [(ngModel)]="user.password">
    </div>
<br>

<div class="form-group">
    <label for="">Phone Number</label>
    <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="user.phone">
    </div>
<br>

<div class="form-group">
    <label for="">Flat Number</label>
    <input type="text" class="form-control" id="fno" name="fno" [(ngModel)]="address.flatNo">
    </div>
<br>

<div class="form-group">
    <label for="">Address 1</label>
    <input type="text" class="form-control" id="add1" name="add1" [(ngModel)]="address.address1">
    </div>
<br>

<div class="form-group">
    <label for="">Address 2</label>
    <input type="text" class="form-control" id="add2" name="add2" [(ngModel)]="address.address2">
    </div>
<br>
            <div class="form-group">
                <label for="">Location</label>
            <select class="form-select" aria-label="Default select example"  [(ngModel)]="location.id" id="location" name="location" >
              <option *ngFor="let loc of location1" [value]="loc.id" >{{loc.locationName}}</option>
                <!-- <option value=2 >MEJASTIC</option>
                <option value=3 >RAJAJINAGAR</option> -->
              </select>

            </div>
<br>
         

          

                        <br>


                       <button class="btn btn-primary"  (click)="registerUser()" >Register</button> 


        
    </form>
    <br>

    <button class="btn btn-primary"  [routerLink]="['/login']" >Back</button>  &nbsp;
    <button class="btn btn-primary"  [routerLink]="['/index']" >Home</button> 
</div>
</div>