<div class="container mt-5 sizing">
    <form>
        <div class="form-group">
            <label for="">Enter Old Password</label>
            <input type="text" class="form-control" [(ngModel)]="password2" id="password2" name="password2" >
            </div>
            <br>
        </form>
    <button class="btn btn-success" (click)="checkPassword()" >Confirm old Password</button> 
    <br>
    {{message}}
    <br>
    <div *ngIf="status==true">
    <form >
        <div class="form-group">
            <label for="">Enter New Password</label>
            <input type="text" class="form-control" [(ngModel)]="password3" id="password3" name="password3" >
            </div>
            <br>

            <div class="form-group">
                <label for="">Re-Enter New Password</label>
                <input type="text" class="form-control"[(ngModel)]="password1" id="password1" name="password1" >
                </div>
                <br>
    <button class="btn btn-success" (click)="update()" >Update</button> 
    <br>
        
    </form>
</div>
    <br>
    <button class="btn btn-success"  [routerLink]="['/users']" >Back</button> &nbsp;&nbsp;
    <button class="btn btn-success"  [routerLink]="['/listGenie']" >Home</button> 
</div>