<!-- 

<h1 class="text-center">Login Page</h1>

<div class="container mt-5 sizing">


 

    <form>

        <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="username">
            </div>

            <br>

            <div class="form-group">
                <label for="">Password</label>
                <input type="password" class="form-control" id="name" name="name" [(ngModel)]="password">
                </div>

            <br>
             <label for="">Don't Have Account? <a routerLink="/register">SignUp</a></label>
             <br>

                        <br>


                       <button class="btn btn-primary"  (click)="doLogin()" >Login</button> 
                       <br>
                      
                       <button class="btn btn-primary"  [routerLink]="['/index']" >Home</button> 


        
    </form>

    
</div> -->

<div class="col">



<form  method="post">
 

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" class="form-control" id="name" name="name" [(ngModel)]="password" required>
        
    <button type="submit" (click)="doLogin()">Login</button>
   
  </div>

  <div class="container" style="background-color:#f1f1f1">
   
    <button type="button" class="cancelbtn" [routerLink]="['/index']" >Home</button>
    
    <span class="psw">Don't Have Account?<a routerLink="/register">SignUp</a></span>
  </div>
</form>

</div>