<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- <button class="btn btn-primary"  (click)="getGenies()" >Get Raised Genie Data</button>  -->


<div class="container">
    <div class="container">
        <div class="row col-md-8 col-md-offset-2 custyle">
        <table class="table table-striped custab">
        <thead>
            <tr>
                <th>Name</th>
                <th>Severity</th>
                <th>Description</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let genie of genies">
                <td>{{genie.name}}</td>
                <td>{{genie.severity}}</td>
                <td>{{genie.description}}</td>
                <td>{{genie.date}}</td>
                <td>{{genie.status}}</td>
                <td class="text-center"><button class="btn btn-edit btn-xs" (click)="updateGenie(genie.id)"><span class="glyphicon glyphicon-edit"></span> Update</button></td>
              </tr>
        </tbody>
        </table>
        </div>
    </div>
