
<!-- <div class="maindiv">
    <div class="container mt-5 sizing">
    <div *ngIf ="genie.id > 0">
        <h1>Genie Raised with Reference Id {{genie.id}}</h1>
         </div> -->
        <!-- {{date}}
        {{user.id}} -->
<!--     
        <form>
    
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" [(ngModel)]="genie.name"id="id" name="id" >
                </div>
    <br>
                <div class="form-group">
                    <label for="">Severity</label>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="genie.severity" id="severity" name="severity">
                    <option selected>Open this select menu</option>
                    <option value="high">High</option>
                    <option value="medium">Medium</option>
                    <option value="low">Low</option>
                  </select>
                </div>
    <br> -->
    
    <!-- <div class="form-group">
        <label for="">Date</label>
        <input type="date" class="form-control" id="date" name="date" [(ngModel)]="genie.date" >
    </div> -->
    <!-- <br>
                <div class="form-group">
                    <label for="">Description</label>
                    <textarea [(ngModel)]="genie.description" name="suggestion" id="suggestion" cols="20" rows="5" class="form-control"></textarea>
                    </div>
    
    
              
    
                            <br>
    
    
                           <button class="btn btn-primary" (click)=""  >Raise</button> 
    
    
            
        </form>
        <br>
        <button class="btn btn-primary"  [routerLink]="['/userdashboard']" >Back</button> &nbsp; -->
        <!-- <button class="btn btn-primary"  [routerLink]="['/index']" >Home</button>  -->
    <!-- </div>
    </div> -->