<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLink="/admin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/login">User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">AreaManager</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
  
  
          <li class="name">
            <a class="nav-link" href="#">Area Management</a>
          </li>
        </ul>

        
      </div>
    </div>
  </nav>
  
  
  
  
  
  <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      
  
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/electricity.webp" class="d-block w-100" alt="one">
        <div class="carousel-caption d-none d-md-block">
          <h3>Electricity Work</h3>
          <h4>Electricity is realy oragnized lighting.</h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/pipe.jpg" class="d-block w-100" alt="two">
        <div class="carousel-caption d-none d-md-block">
          <h3>PipeLine Work</h3>
          <h4>Water is Life and Clean Water means Health.</h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/pothole.jpg" class="d-block w-100" alt="three">
        <div class="carousel-caption d-none d-md-block">
          <h3>Drinage Work</h3>
          <h4>Sewage can lead to another disaster.</h4>
        </div>
      </div>
  
  
      <div class="carousel-item">
        <img src="../assets/road.jpg" class="d-block w-100" alt="three">
        <div class="carousel-caption d-none d-md-block">
          <h3>Road Work</h3>
          <h4>Roads were made for journeys.</h4>
        </div>
      </div>
  
      <div class="carousel-item">
        <img src="../assets/marking.jpg" class="d-block w-100" alt="three">
        <div class="carousel-caption d-none d-md-block">
          <h3>Marking Work</h3>
          <h4>Roads were made for journeys.</h4>
        </div>
      </div>
  
  
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <footer class="page-footer">
  
  
    <div class="text-center footercolor py-3">© 2020 Copyright:
      <a href=""> Mindtree.com</a>
    </div>
   
  
  </footer>

 